<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= @title || 'Naming Together' %></title>
  <link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/reset.css">
  <link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/stylesheet.css">
  <link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/application.css">

  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/application.js"></script>
</head>
<body>
  <div id='header'>
    <div id='logo'>
      <h1><a href='/'>Naming Together</a></h1>
    </div>
    <div id='top_links'>
      <ul>
        <% if current_user %>
          <li><a href='/settings'><%= current_user.email %></a></li>
          <li><a href='/lists'>lists</a></li>
          <li><a href='/logout'>logout</a></li>
        <% else %>
          <li><a href='/login'>login</a></li> 
          <li><a href='/signup'>signup</a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <% if session[:flash] %>
    <div id='message'>
      <%= session[:flash] %>
    </div>
    <br/>
  <% end %>

  <%= yield %>

  <%= clearfix %>
  <div id='footer'>
    Renae Bair &copy; 2009
  </div>
</body>
</html>

