<% if current_user && current_user.lists.include?(@list) %>
  <h3>namingtogether.com/list/<%= @list.url %> | <a href='/lists/<%= @list.url %>/edit'>edit</a></h3>
<% else %>
  <h3>namingtogether.com/list/<%= @list.url %></h3>
<% end %>
<br/>
<div id='names' class='<%= @list.gender %>'>
  <% if @list.male? || @list.both? %>
    <div id='male-names'>
      <h2>Boy Names</h2>
      <%= partial(:name_form, :locals => {:gender => 'male'}) %>
      <%= partial(:name, :collection => @male_names) %>
    </div>
  <% end %>
  <% if @list.female? || @list.both? %>
    <div id='female-names'>
      <h2>Girl Names</h2>
      <%= partial(:name_form, :locals => {:gender => 'female'}) %>
      <%= partial(:name, :collection => @female_names) %>
    </div>
  <% end %>
</div>
<br/>

