<p class='share'><a href="http://namingtogether.com/list/<%= @list.to_param %>">http://namingtogether.com/list/<%= @list.to_param %></a>
  <% if current_user && current_user.lists.include?(@list) %>
     | <a href='/lists/<%= @list.id %>/edit'>edit</a></p>
  <% end %>
</p>

<div class='message'>
  <%= @list.description %>
</div>

<div id='names' class='<%= @list.gender %> <%= 'one-gender' unless @list.both? %>'>
  <% if @list.male? || @list.both? %>
    <div id='male-names'>
      <%= partial(:name_form, :locals => {:gender => 'male'}) %>
      <%= partial(:name, :collection => @male_names) %>
    </div>
  <% end %>
  <% if @list.female? || @list.both? %>
    <div id='female-names'>
      <%= partial(:name_form, :locals => {:gender => 'female'}) %>
      <%= partial(:name, :collection => @female_names) %>
    </div>
  <% end %>
</div>
<br/>

