<div class='name'>
  <h3><%= name.name %></h3>

  <%= clearfix %>

	<div class='voting'>
		<% if voted_for?(name) %>
      <span class='vote'><%= name.average_vote %> (<%= name.votes.size %>)</span>
    <% else %>
			<% (1..5).each do |number| %>
				<form action="/<%= name.id %>/vote/<%= number %>" method='post'>
		      <input type='submit' value='<%= number %>'>
		    </form>
			<% end %>
		<% end %>
	</div>

  <a href='/<%= name.id %>/comments'>
    <%= name.comments.size > 0 ? "#{name.comments.size} comments" : "comment" %>
  </a>

	<% if logged_in? %>
    <div class='admin'>
      <form action="/<%= name.id %>" method='post'>
        <input type='hidden' name="_method" value="delete">
        <input type='submit' value='[x]'>
      </form>
    </div>
  <% end %>


</div>
