<div class='name'>
  <h3><%= name.name %></h3>

	<div class='voting'>
    <span class="inline-rating">
      <ul class="star-rating" id="vote_name_<%= name.id %>">
        <li class="current-rating" style="width:<%= name.percentage_vote %>%;"><%= name.average_vote ? "#{name.average_vote}/5 stars" : "No ratings" %>.</li>
        <li><a href="#" title="1 star out of 5" class="one-star">1</a></li>
        <li><a href="#" title="2 stars out of 5" class="two-stars">2</a></li>
        <li><a href="#" title="3 stars out of 5" class="three-stars">3</a></li>
        <li><a href="#" title="4 stars out of 5" class="four-stars">4</a></li>
        <li><a href="#" title="5 stars out of 5" class="five-stars">5</a></li>
      </ul>
    </span>
	</div>

  <a href='/names/<%= name.id %>/comments'>
    <%= name.comments.size > 0 ? "#{name.comments.size} comments" : "comment" %>
  </a>

	<% if logged_in? %>
    <div class='admin'>
      <form action="/names/<%= name.id %>" method='post'>
        <input type='hidden' name="_method" value="delete">
        <input type='submit' value='[x]'>
      </form>
    </div>
  <% end %>
</div>
