<div class='name <%= cycle('even', 'odd') %>'>
  <h3><a href="/names/<%= name.to_param %>"><%= name.name %></a></h3>

	<div class='voting'>
    <span class="inline-rating">
      <ul class="star-rating" id="vote_name_<%= name.id %>">
        <li class="current-rating" style="width:<%= name.percentage_vote %>%;"><%= name.average_vote ? "#{name.average_vote}/5 stars" : "No ratings" %>.</li>
        <li><a href="#" title="1 star out of 5" class="one-star">1</a></li>
        <li><a href="#" title="2 stars out of 5" class="two-stars">2</a></li>
        <li><a href="#" title="3 stars out of 5" class="three-stars">3</a></li>
        <li><a href="#" title="4 stars out of 5" class="four-stars">4</a></li>
        <li><a href="#" title="5 stars out of 5" class="five-stars">5</a></li>
      </ul>
    </span>
	</div>

  <span class='comment_count'>
    <a href='/lists/<%= @list.to_param %>/<%= name.to_param %>/comments'>
      <%= pluralize(name.comments.size, 'comment') %>
    </a>
  </span>

	<% if list_owner? %>
    <div class='admin'>
      <form action="/lists/<%= @list.to_param %>/names/<%= name.to_param %>" method='post'>
        <input type='hidden' name="_method" value="delete">
        <input type='submit' value='[delete name]'>
      </form>
    </div>
  <% else %>
    <br/>
    <br/>
  <% end %>
</div>
<% reset_cycle %>
