<div id="<%= @name.gender %>-names" class='etymology'>
  <h2><%= @name.name %></h2>
  <div class='voting' style='float:left'>
    <span class="inline-rating">
      <ul class="star-rating" id="vote_name_<%= @name.id %>">
        <li class="current-rating" style="width:<%= @name.percentage_vote %>%;"><%= @name.average_vote ? "#{@name.average_vote}/5 stars" : "No ratings" %>.</li>
        <li><a href="#" title="1 star out of 5" class="one-star">1</a></li>
        <li><a href="#" title="2 stars out of 5" class="two-stars">2</a></li>
        <li><a href="#" title="3 stars out of 5" class="three-stars">3</a></li>
        <li><a href="#" title="4 stars out of 5" class="four-stars">4</a></li>
        <li><a href="#" title="5 stars out of 5" class="five-stars">5</a></li>
      </ul>
    </span>
  </div>
  <%= clearfix %>

  <p>Usually a <%= @name.gender.capitalize %> name</p>
  <p>Created on <%= @name.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>

  <h3>Stats</h3>
  <p>List count: <%= @name.names_count %></p>

  <h3>Lists</h3>
  <% if @name.lists.size > 0 %>
    <% @name.lists.each do |list| %>
      <span><a href='/list/<%= list.to_param %>'><%= list.url %></a><span>
    <% end %>
  <% else %>
    <span>None</span>
  <% end %>
</div>
