<h2><%= @name.name %></h2>
<p>Usually a <%= @name.gender.capitalize %> name</p>
<p>Created on <%= @name.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>

<h3>Stats</h3>
<p>List count: <%= @name.names_count %></p>
<p>Average rating: <%= @name.average_vote %></p>

<h3>Lists</h3>
<% if @name.lists.size > 0 %>
  <% @name.lists.each do |list| %>
    <span><a href='/list/<%= list.url %>'><%= list.url %></a><span>
  <% end %>
<% else %>
  <span>None</span>
<% end %>
